.hide {
    display: none;
}


.tablerow {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    margin-top: .25em;
}

.tablerow:hover {
    background-color: purple;
    cursor: pointer;
}

.pickTeam {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.schedule {
    display: grid;
    justify-content: center;
    margin: 2em;
    padding: 2em;
    background-color: lightgrey;
    border: solid black;
    border-radius: 2em;
}
