.hide {
    display: none;
}

.pickTeam {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.schedule {
    display: grid;
    justify-content: center;
    margin: 2em;
    padding: 2em;
    background-color: lightgrey;
    border: solid black;
    border-radius: 2em;
}

.plzHover:hover {
    background-color: purple;
    cursor: pointer;
}